body, html {
    margin: 0;
    padding: 0;
}

/* -------------------------Header--------------------------------------------- */
.header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent; 
}

.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin: 50px;
}

.header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 10px;
    position: relative; /* Sørg for at position er relative på <a> */
}

#navv a {
    color: black; 
}

.header nav a::after,
.header02 nav a::after,
.header03 nav a::after {
    content: '';
    position: absolute;
    height: 1px; 
    background: orangered;
    width: 0; 
    top: 100%; /* Sørg for, at stregen er under teksten */
    left: 50%; 
    transform: translateX(-50%); /* Justering af position for at centrere stregen */
    transition: width 0.3s ease; 
    z-index: 5; 
}

.header nav a:hover::after,
.header02 nav a:hover::after,
.header03 nav a:hover::after {
    width: 150%;
}

.header03{
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent; 
    position: relative;
}
.header03 nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.header03 nav ul li {
    margin: 50px;
}

.header03 nav ul li a {
    text-decoration: none;
    color:#000DFC;
    font-weight: bold;
    font-size: 10px;
    position: relative
}

.header02{
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.header02 nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.header02 nav ul li {
    margin: 50px;
}

.header02 nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 10px;
    position: relative; 
}

/* -----------------------SLUT Header--------------------------------------- */

/*--------------------- Hero Section ---------*/
.hero {
    height: 100vh; 
    background-image: url(../img/Forside.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px; 
    color: white;
    position: relative;
}

.hero h1 {
    text-align: center; 
    font-size: 2.5rem; 
}

.hero h2 {
    margin-left: 40px; 
}

/* -----------------------SLUT HERO--------------------------------------- */

/* -----------------------PORTFOLIO--------------------------------------- */
.bgport{
    background-image: url(../img/Skærmbillede\ 2025-01-05\ kl.\ 23.22.33.png);
    background-size: cover;
    background-color: black;
}

.mine{
    margin-left: 20px;
}

.projekter{
    margin-left: 75px;
}
.storh4{
    color: #000DFC;
font-weight: bolder;
}

.link-wrapper {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

.link-wrapper:hover {
    cursor: pointer; 
    opacity: 0.9; 
    transform: scale(1.02);
}

hr {
    border: none;
    border-top: 1px solid #D93829; 
    margin: 20px 0;      
    width: 80%;          
    margin-left: auto;    
    margin-right: auto; 
 color: #EDEAC7;
}
.version2 {
    border: none;
    border-top: 1px solid #000DFC; 
    margin: 20px 0;      
    width: 80%;          
    margin-left: auto;    
    margin-right: auto; 
 color: #EDEAC7;
}
.version3 {
    border: none;
    border-top: 1px solid #ffffff; 
    margin: 20px 0;      
    width: 80%;          
    margin-left: auto;    
    margin-right: auto; 
}
.version4 {
    border: none;
    border-top: 4px solid #000000; 
    margin: 20px 0;      
    width: 80%;          
    margin-left: auto;    
    margin-right: auto; 
}
.p-projekt{
    font-size: 0.5em;
    color: #000DFC;
}

.MP{
    color: #000DFC;
    font-weight: bolder;
}

/* -----------------------TEMA01--------------------------------------- */
.bg01{
    background-image: url(../img/bgtema1.png);
    background-size: cover;
    color: white;
    background-color: black;
    margin: 20px;
}

.præsentationskort{
    height: 30vh;
    width: 100%;
}
.p-link{
    font-size: x-small;
}
/* -----------------------TEMA02--------------------------------------- */
.bg02{
    background-image: url(../img/bgtema2.png);
    background-size: cover; 
    margin: 20px;
    background-color: black;
    color: #ffffff;
}

.tema02_2 img{
    width: 100%;
}

figcaption{
    font-size: smaller;
}

/* -----------------------TEMA03--------------------------------------- */
.bg03{
   background-image: url(../img/Skærmbillede\ 2025-01-05\ kl.\ 23.22.33.png);
   background-size: cover;
   margin: 20px;
   color: bisque;
   background-color: black;
}
.brugertest{
    text-align: right;
}
.custom-link {
    color: #D93829; 
    text-decoration: none; 
}

/* -----------------------TEMA04--------------------------------------- */
.bg04{
    background-image: url(../img/bgtema2.png);
    background-size: cover; 
    margin: 20px;
    background-color: black;
    color: #ffffff;
}
.tema04b{
    height: 30vh;
    width: 100%;
}
.LINK {
    color: #e11bd7; 
    text-decoration: none; 
    font-size: smaller;
}

.billeder-container {
    display: flex; 
    gap: 2px; 
    justify-content: center; 
}

.billeder-container img {
    max-width: 150px; 
    height: auto; 
}
/* -----------------------TEMA05--------------------------------------- */
.bg05{
    background-image: url(../img/Skærmbillede\ 2025-01-05\ kl.\ 23.22.33.png);
    background-size: cover; 
    margin: 20px;
    background-color: black;
    color: white;
}
.LINKK {
    color: #fa1500; 
    text-decoration: none; 
}
.responsive-video {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
  }
  .virksomhedssite{
    text-align: left;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
}

.image-container img {
    width: 60%; 
    height: auto; 
}
/* -----------------------ABOUT--------------------------------------- */


.bg0{
    background-color: #EDEAC7;
    color:#D93829 ;
}
.beskrivendeTekst  {
    text-align: center;
}
.cv{
    text-align: center;
}

.beskrivendeTekst{
   margin-right: 20px;
   
}
.hero2 {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D93829;
    padding: 0 20px;
    background: url('../img/bag1.png');
    background-size: cover;
    overflow: hidden;
}

.hero2 .content h1 {
    font-size: 3rem; 
    margin-left: 20px;
}

.hero2 h2 {
    margin-left: 40px; 
    font-size: 3rem; 
}

.hero2 h3 {
    margin-left: 80px; 
    font-size: 3rem; 
}
.bgabout{
    background-image: url(../img/bagtelefon1.png);
    background-size: cover;
    padding: 0 100px;
}
/* -----------------cv-------------------*/
.bg06{
        background-image: url(../img/Skærmbillede\ 2025-01-06\ kl.\ 13.52.19.png);
        background-size: cover; 
        margin: 20px;
        color: black;
        background-color: #F8F7EF;
}
.main06{
    border: solid 4px black;
    padding: 20px;
    margin-right: 200px;
    margin-left: 200px;
}

/* -----------------MEDIA-------------------*/

@media (min-width: 1000px) {
    /* -------om mig------------- */

    .hero h1{
        font-size: 5rem; 
    }
    .hero h2 {
        font-size: 3rem; 
        margin-left: 80px;
    }

    .grid-container {
        display: grid;
        gap: 1px; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        max-width: 600px; 
    }

    .grid-container img {
        margin: 0; 
        padding: 0; 
        display: block; 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

    .grid-container img:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .grid-container img:nth-child(2) {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .grid-container img:nth-child(3) {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    .grid_1_1{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        /* background-color: #f6670043; */
        margin: 0%;
    }
    .bgabout{
        background-image: url(../img/Skærmbillede\ 2025-01-05\ kl.\ 13.44.53.png);
        background-size: cover;
        padding: 0 100px;
    }
/* ----------portfolio ---------*/

.bgport{
    background-image: url(../img/Skærmbillede\ 2025-01-05\ kl.\ 23.22.33.png);
    background-size: cover;
    max-width: 1200px;
    /* max-width: 100%;
    overflow-x: hidden;  */
}
.MP{
    margin-left: 100px;
    font-size: x-large;
}

.bgport .grid1_1 {
    position: relative;
    left: 300px;
    padding-right: 10px;
    font-size: x-large;
  
}

.version2 {
    width: 70%;          
    margin-right: 1px;    
}
.bgport .grid1_1 div img {
    max-width: 60%;
    
}
/* ----------tema01 ---------*/

.bg01{
    padding: 0 300px;
}
.bg01 img{
    max-width: 400px;
    position: relative;
    left: 400px;
}
.iframe-wrapper {
    max-width: 1100px;
}
.brush-arrow {
    background-image: url('../img/streg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px; 
    height: 50px;
    display: block; 
    margin-top: 60px; 
  }
  /* ----------tema02 ---------*/
  .bg02{
    padding: 0 300px;
}
.bg02 img{
    max-width: 400px; 
}
.kode{
    position: relative;
    left: 400px;
    bottom: 85px;
}
.scadodle-arrow {
    background-image: url('../img/pil2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px; 
    height: 95px;
    display: block; 
    margin-top: 80px; 
  }
  /* ----------tema03 ---------*/
  .bg03{
    padding: 0 300px;
}
.præsentationskort{
    max-width: 400px;
}

.image-row {
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    
}
.præsentationskort {
    max-width: 48%; 
    height: auto; 
}
  /* ----------tema04 ---------*/
  .bg04{
    padding: 0 300px;
}
.bg04 img{
    max-width: 400px; 
}
/* ----------tema05 ---------*/

.bg05{
    padding: 0 300px;
}
.bg05 img{
    min-width: 400px; 
    left: 30px;
}
.content-container {
    display: flex; 
    align-items: center; 
    gap: 20px; /
}

/* .scadodle-arrow2 {
    background-image: url('../img/pil3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; 
    height: 95px; 
} */
}
/* ----------------Media ti tablet--------------------------- */
@media (min-width: 600px){
    .bg01, .bg02, .bg03, .bg04, .bg05{
     margin: 30px;
    }
    .container {
        max-width: 400px; 
        margin: 0 200px; 
        padding: 0 20px; 
        
    }
}


